:root{

    /* Light Mode */

    --bg:#ffffff;

    --surface:#f8fafc;

    --text:#111827;

    --text-secondary:#64748b;

    --border:#e5e7eb;

    --primary:#22c55e;

    --primary-hover:#16a34a;

    --shadow:
        0 15px 40px rgba(0,0,0,.12);

}


/* ================= DARK ================= */

body.dark{

    --bg:#000000;

    --surface:#0a0a0a;

    --text:#f0fdf4;

    --text-secondary:#86efac;

    --border:#14532d;

    --primary:#22c55e;

    --primary-hover:#4ade80;

    --shadow:
        0 15px 40px rgba(34,197,94,.15);

}